@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}


/* SOLUTION */

ul {
  list-style: none;
}

.header {
  margin: 40px 20px 120px ;
  display: flex;
  justify-content: space-between;  
}


.footer {
  margin: 120px 20px 40px;
  display: flex;
  justify-content: space-between;  
  background-color: grey;
}


.left-links {
  display: flex;
  gap: 10px;
  margin: 4px;
  
}

.right-links {
  display: flex;
  gap: 10px;
  margin: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



